@model MVCUIDesigning.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpDisplay1</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Employee Id:</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Employee Name:</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Employee Job:</td>
                <td>@Model.Job</td>
            </tr>
            <tr>
                <td>Employee Salary:</td>
                <td>@Model.Salary</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><a href="/Emp/AddEmp2">Add New Employee   </a></td>
            </tr>
        </table>
    </div>
</body>
</html>
