
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failure</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Name, Login Failed Invalid Login Id or Password</h1>
    </div>
</body>
</html>
